<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.scf.dao.auto.CorpDeptMapper">
  <resultMap id="BaseResultMap" type="com.ut.scf.pojo.auto.CorpDept">
    <id column="DEPT_ID" jdbcType="NVARCHAR" property="deptId" />
    <result column="DEPT_NAME" jdbcType="NVARCHAR" property="deptName" />
    <result column="CORP_ID" jdbcType="NVARCHAR" property="corpId" />
    <result column="PARENT_ID" jdbcType="NVARCHAR" property="parentId" />
    <result column="DEPT_TYPE" jdbcType="NVARCHAR" property="deptType" />
    <result column="STAFF_NUM" jdbcType="DECIMAL" property="staffNum" />
    <result column="FUNCTIONS" jdbcType="NVARCHAR" property="functions" />
    <result column="ORG_STRUCTURE_PATH" jdbcType="NVARCHAR" property="orgStructurePath" />
    <result column="CONTACT_PERSON" jdbcType="NVARCHAR" property="contactPerson" />
    <result column="CONTACT_PHONE" jdbcType="NVARCHAR" property="contactPhone" />
    <result column="NOTE" jdbcType="NVARCHAR" property="note" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DEPT_ID, DEPT_NAME, CORP_ID, PARENT_ID, DEPT_TYPE, STAFF_NUM, FUNCTIONS, ORG_STRUCTURE_PATH, 
    CONTACT_PERSON, CONTACT_PHONE, NOTE, CREATE_TIME, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.ut.scf.pojo.auto.CorpDeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCFCLOUD.CORP_DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCFCLOUD.CORP_DEPT
    where DEPT_ID = #{deptId,jdbcType=NVARCHAR} and status=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SCFCLOUD.CORP_DEPT
    where DEPT_ID = #{deptId,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ut.scf.pojo.auto.CorpDeptExample">
    delete from SCFCLOUD.CORP_DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ut.scf.pojo.auto.CorpDept">
    insert into SCFCLOUD.CORP_DEPT (DEPT_ID, DEPT_NAME, CORP_ID, 
      PARENT_ID, DEPT_TYPE, STAFF_NUM, 
      FUNCTIONS, ORG_STRUCTURE_PATH, CONTACT_PERSON, 
      CONTACT_PHONE, NOTE, CREATE_TIME, 
      STATUS)
    values (#{deptId,jdbcType=NVARCHAR}, #{deptName,jdbcType=NVARCHAR}, #{corpId,jdbcType=NVARCHAR}, 
      #{parentId,jdbcType=NVARCHAR}, #{deptType,jdbcType=NVARCHAR}, #{staffNum,jdbcType=DECIMAL}, 
      #{functions,jdbcType=NVARCHAR}, #{orgStructurePath,jdbcType=NVARCHAR}, #{contactPerson,jdbcType=NVARCHAR}, 
      #{contactPhone,jdbcType=NVARCHAR}, #{note,jdbcType=NVARCHAR}, sysdate, 
      1)
  </insert>
  <insert id="insertSelective" parameterType="com.ut.scf.pojo.auto.CorpDept">
    insert into SCFCLOUD.CORP_DEPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="corpId != null">
        CORP_ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="deptType != null">
        DEPT_TYPE,
      </if>
      <if test="staffNum != null">
        STAFF_NUM,
      </if>
      <if test="functions != null">
        FUNCTIONS,
      </if>
      <if test="orgStructurePath != null">
        ORG_STRUCTURE_PATH,
      </if>
      <if test="contactPerson != null">
        CONTACT_PERSON,
      </if>
      <if test="contactPhone != null">
        CONTACT_PHONE,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptId != null">
        #{deptId,jdbcType=NVARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=NVARCHAR},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=NVARCHAR},
      </if>
      <if test="deptType != null">
        #{deptType,jdbcType=NVARCHAR},
      </if>
      <if test="staffNum != null">
        #{staffNum,jdbcType=DECIMAL},
      </if>
      <if test="functions != null">
        #{functions,jdbcType=NVARCHAR},
      </if>
      <if test="orgStructurePath != null">
        #{orgStructurePath,jdbcType=NVARCHAR},
      </if>
      <if test="contactPerson != null">
        #{contactPerson,jdbcType=NVARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ut.scf.pojo.auto.CorpDeptExample" resultType="java.lang.Integer">
    select count(*) from SCFCLOUD.CORP_DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCFCLOUD.CORP_DEPT
    <set>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=NVARCHAR},
      </if>
      <if test="record.corpId != null">
        CORP_ID = #{record.corpId,jdbcType=NVARCHAR},
      </if>
      <if test="record.parentId != null">
        PARENT_ID = #{record.parentId,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptType != null">
        DEPT_TYPE = #{record.deptType,jdbcType=NVARCHAR},
      </if>
      <if test="record.staffNum != null">
        STAFF_NUM = #{record.staffNum,jdbcType=DECIMAL},
      </if>
      <if test="record.functions != null">
        FUNCTIONS = #{record.functions,jdbcType=NVARCHAR},
      </if>
      <if test="record.orgStructurePath != null">
        ORG_STRUCTURE_PATH = #{record.orgStructurePath,jdbcType=NVARCHAR},
      </if>
      <if test="record.contactPerson != null">
        CONTACT_PERSON = #{record.contactPerson,jdbcType=NVARCHAR},
      </if>
      <if test="record.contactPhone != null">
        CONTACT_PHONE = #{record.contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="record.note != null">
        NOTE = #{record.note,jdbcType=NVARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCFCLOUD.CORP_DEPT
    set DEPT_ID = #{record.deptId,jdbcType=NVARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=NVARCHAR},
      CORP_ID = #{record.corpId,jdbcType=NVARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=NVARCHAR},
      DEPT_TYPE = #{record.deptType,jdbcType=NVARCHAR},
      STAFF_NUM = #{record.staffNum,jdbcType=DECIMAL},
      FUNCTIONS = #{record.functions,jdbcType=NVARCHAR},
      ORG_STRUCTURE_PATH = #{record.orgStructurePath,jdbcType=NVARCHAR},
      CONTACT_PERSON = #{record.contactPerson,jdbcType=NVARCHAR},
      CONTACT_PHONE = #{record.contactPhone,jdbcType=NVARCHAR},
      NOTE = #{record.note,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ut.scf.pojo.auto.CorpDept">
    update SCFCLOUD.CORP_DEPT
    <set>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=NVARCHAR},
      </if>
      <if test="corpId != null">
        CORP_ID = #{corpId,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=NVARCHAR},
      </if>
      <if test="deptType != null">
        DEPT_TYPE = #{deptType,jdbcType=NVARCHAR},
      </if>
      <if test="staffNum != null">
        STAFF_NUM = #{staffNum,jdbcType=DECIMAL},
      </if>
      <if test="functions != null">
        FUNCTIONS = #{functions,jdbcType=NVARCHAR},
      </if>
      <if test="orgStructurePath != null">
        ORG_STRUCTURE_PATH = #{orgStructurePath,jdbcType=NVARCHAR},
      </if>
      <if test="contactPerson != null">
        CONTACT_PERSON = #{contactPerson,jdbcType=NVARCHAR},
      </if>
      <if test="contactPhone != null">
        CONTACT_PHONE = #{contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where DEPT_ID = #{deptId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ut.scf.pojo.auto.CorpDept">
    update SCFCLOUD.CORP_DEPT
    set DEPT_NAME = #{deptName,jdbcType=NVARCHAR},
      CORP_ID = #{corpId,jdbcType=NVARCHAR},
      PARENT_ID = #{parentId,jdbcType=NVARCHAR},
      DEPT_TYPE = #{deptType,jdbcType=NVARCHAR},
      STAFF_NUM = #{staffNum,jdbcType=DECIMAL},
      FUNCTIONS = #{functions,jdbcType=NVARCHAR},
      ORG_STRUCTURE_PATH = #{orgStructurePath,jdbcType=NVARCHAR},
      CONTACT_PERSON = #{contactPerson,jdbcType=NVARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=NVARCHAR},
      NOTE = #{note,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL}
    where DEPT_ID = #{deptId,jdbcType=NVARCHAR}
  </update>
</mapper>