<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.scf.dao.auto.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.ut.scf.pojo.auto.SysRole">
    <id column="ROLE_ID" jdbcType="NVARCHAR" property="roleId" />
    <result column="ROLE_NAME" jdbcType="NVARCHAR" property="roleName" />
    <result column="ROLE_TYPE" jdbcType="DECIMAL" property="roleType" />
    <result column="CORP_ID" jdbcType="NVARCHAR" property="corpId" />
    <result column="NOTE" jdbcType="NVARCHAR" property="note" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ROLE_ID, ROLE_NAME, ROLE_TYPE, CORP_ID, NOTE, CREATE_TIME, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.ut.scf.pojo.auto.SysRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCFCLOUD.SYS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCFCLOUD.SYS_ROLE
    where ROLE_ID = #{roleId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SCFCLOUD.SYS_ROLE
    where ROLE_ID = #{roleId,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ut.scf.pojo.auto.SysRoleExample">
    delete from SCFCLOUD.SYS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ut.scf.pojo.auto.SysRole">
    insert into SCFCLOUD.SYS_ROLE (ROLE_ID, ROLE_NAME, ROLE_TYPE, 
      CORP_ID, NOTE, CREATE_TIME, 
      STATUS)
    values (#{roleId,jdbcType=NVARCHAR}, #{roleName,jdbcType=NVARCHAR}, #{roleType,jdbcType=DECIMAL}, 
      #{corpId,jdbcType=NVARCHAR}, #{note,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ut.scf.pojo.auto.SysRole">
    insert into SCFCLOUD.SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="corpId != null">
        CORP_ID,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=NVARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=NVARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=NVARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ut.scf.pojo.auto.SysRoleExample" resultType="java.lang.Integer">
    select count(*) from SCFCLOUD.SYS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCFCLOUD.SYS_ROLE
    <set>
      <if test="record.roleId != null">
        ROLE_ID = #{record.roleId,jdbcType=NVARCHAR},
      </if>
      <if test="record.roleName != null">
        ROLE_NAME = #{record.roleName,jdbcType=NVARCHAR},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      </if>
      <if test="record.corpId != null">
        CORP_ID = #{record.corpId,jdbcType=NVARCHAR},
      </if>
      <if test="record.note != null">
        NOTE = #{record.note,jdbcType=NVARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCFCLOUD.SYS_ROLE
    set ROLE_ID = #{record.roleId,jdbcType=NVARCHAR},
      ROLE_NAME = #{record.roleName,jdbcType=NVARCHAR},
      ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      CORP_ID = #{record.corpId,jdbcType=NVARCHAR},
      NOTE = #{record.note,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ut.scf.pojo.auto.SysRole">
    update SCFCLOUD.SYS_ROLE
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=NVARCHAR},
      </if>
      <if test="roleType != null">
        ROLE_TYPE = #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="corpId != null">
        CORP_ID = #{corpId,jdbcType=NVARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ut.scf.pojo.auto.SysRole">
    update SCFCLOUD.SYS_ROLE
    set ROLE_NAME = #{roleName,jdbcType=NVARCHAR},
      ROLE_TYPE = #{roleType,jdbcType=DECIMAL},
      CORP_ID = #{corpId,jdbcType=NVARCHAR},
      NOTE = #{note,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL}
    where ROLE_ID = #{roleId,jdbcType=NVARCHAR}
  </update>
</mapper>