<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.scf.dao.sys.ICorpDao">
	<resultMap id="CorpDeptResultMap" type="com.ut.scf.pojo.auto.CorpDept">
		<id column="dept_id" jdbcType="VARCHAR" property="deptId" />
		<result column="dept_name" jdbcType="VARCHAR" property="deptName" />
		<result column="corp_id" jdbcType="VARCHAR" property="corpId" />
		<result column="parent_id" jdbcType="VARCHAR" property="parentId" />
		<result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
		<result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
		<result column="note" jdbcType="VARCHAR" property="note" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="status" jdbcType="TINYINT" property="status" />
	</resultMap>

	<resultMap id="CorpInfoResultMap" type="com.ut.scf.pojo.auto.CorpInfo">
		<id column="corp_id" jdbcType="VARCHAR" property="corpId" />
		<result column="corp_name" jdbcType="VARCHAR" property="corpName" />
		<result column="corp_type" jdbcType="VARCHAR" property="corpType" />
		<result column="sys_type" jdbcType="SMALLINT" property="sysType" />
		<result column="is_country" jdbcType="TINYINT" property="isCountry" />
		<result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
		<result column="control_person" jdbcType="VARCHAR" property="controlPerson" />
		<result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
		<result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
		<result column="real_pay_cap" jdbcType="INTEGER" property="realPayCap" />
		<result column="reg_cap" jdbcType="INTEGER" property="regCap" />
		<result column="industry" jdbcType="VARCHAR" property="industry" />
		<result column="reg_address" jdbcType="VARCHAR" property="regAddress" />
		<result column="office_address" jdbcType="VARCHAR" property="officeAddress" />
		<result column="spec_natural" jdbcType="VARCHAR" property="specNatural" />
		<result column="busi_scope" jdbcType="VARCHAR" property="busiScope" />
		<result column="history_evc" jdbcType="VARCHAR" property="historyEvc" />
		<result column="staff_num" jdbcType="INTEGER" property="staffNum" />
		<result column="fixed_phone" jdbcType="VARCHAR" property="fixedPhone" />
		<result column="note" jdbcType="VARCHAR" property="note" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="ccy" jdbcType="VARCHAR" property="ccy" />
		<result column="loanCardNo" jdbcType="VARCHAR" property="loanCardNo" />
		<result column="nTaxReg" jdbcType="VARCHAR" property="nTaxReg" />
		<result column="lTaxReg" jdbcType="VARCHAR" property="lTaxReg" />
	</resultMap>


	<select id="getCorpInfoList" resultType="hashmap" parameterType="hashmap">
		select
		ci.corp_id "corpId", ci.corp_name "corpName",ci.corp_type
		"corpType",ci.is_country "isCountry", ci.sys_type "sysType", ci.note
		"note",
		ci.legal_person "legalPerson", ci.fixed_phone "fixedPhone", ci.reg_date "regDate",
		ci.logo_url "logoUrl",
		ci.office_address "officeAddress",
		ci.spec_natural "specNatural",
		ci.business_license "businessLicense",
		NVL(a.num,0) "supplierNum",
		ci.email "email" from corp_info ci LEFT JOIN (SELECT COUNT(1) num, corp_id
		FROM
		corp_info group by corp_id) a
		ON ci.corp_id = a.corp_id
		<where>
			ci.status=1
			<if test="corpId!=null and corpId!='' ">
				and ci.corp_id = '${corpId}'
			</if>
			<if test="userCorpList !=null">
				and ci.corp_id in ${userCorpList}
			</if>
			<if test="corpName!=null and corpName!='' ">
				<choose>
					<when test="corpNameIsAll == 1">
						and ci.corp_name = '${corpName}'
					</when>
					<otherwise>
						and ci.corp_name LIKE CONCAT(CONCAT('%', '${corpName}'),'%')
					</otherwise>
				</choose>
			</if>
			<if test="legalPerson!=null and legalPerson!='' ">
				and ci.legal_person LIKE CONCAT(CONCAT('%', ${legalPerson}),'%')
			</if>
			<if test="sysType!=null and sysType!='' ">
				and ci.sys_type=${sysType}
			</if>
		</where>
	</select>

	<select id="selectAllRelaCorp" resultType="map">
		select c.corp_id corpId
		from corp_info c
		where c.status=1
	</select>


	<select id="getSupplierInfoList" resultType="hashmap"
		parameterType="hashmap">
		select
		ci.corp_name "corpName",ci.sys_type "sysType",ci.core_corp_id,
		ci.orgn_num "orgnNum"

		from corp_info ci
		<where>
			ci.status=1
			<if test="corpId!=null">
				and ci.core_corp_id = #{corpId}
			</if>
			<if test="sysType!=null and sysType!='' ">
				and ci.sys_type = 5
			</if>
		</where>
	</select>

	<select id="queryCoreEnterpriseList" resultType="hashmap"
		parameterType="hashmap">
		SELECT ci.corp_id "corpId", ci.corp_name "corpName"
		FROM corp_info ci
		<where>
			ci.status=1
			<if test="sysType!=null and sysType!='' ">
				AND ci.sys_type = #{sysType}
			</if>
		</where>
	</select>

	<select id="getPackageCorpList" resultType="hashmap"
		parameterType="hashmap">
		select ci.corp_id "corpId", ci.corp_name "corpName"
		from corp_info ci
		<where>
			ci.status=1
			<if test="sysType!=null and sysType!='' ">
				and ci.sys_type = #{sysType}
			</if>
			<!-- and ci.corp_id not in (select corp_id from asset_package) -->
		</where>
	</select>

	<select id="getSupplierByPush" resultType="hashmap"
		parameterType="hashmap">
		SELECT
		corp_id "corpId", corp_name "customerName", customer_app_serial_num
		"customerAppSerialNum", app_num "appNum", orgn_num "orgnNum",
		applicant_name "applicantName", applicant_fix_phone
		"applicantFixPhone", applicant_phone "applicantPhone", apply_amt
		"applyAmt"
		FROM corp_info
		WHERE sys_type = #{sysType} AND is_push = #{isPush} AND
		customer_app_serial_num IS NULL
		AND core_corp_id = (SELECT corp_id FROM corp_info WHERE orgn_num =
		#{orgnNum})
		ORDER BY create_time LIMIT 0, #{size}
	</select>

	<update id="updateSupplierByPush" parameterType="list">
		UPDATE corp_info
		SET customer_app_serial_num = CASE corp_id
		<foreach collection="list" item="item" index="index">
			WHEN #{item.corpId} THEN #{item.customerAppSerialNum}
		</foreach>
		END WHERE corp_id IN
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
			#{item.corpId}
		</foreach>
	</update>

	<select id="getSupplierIdByOrgn" resultType="java.lang.String"
		parameterType="hashmap">
		SELECT corp_id corpId FROM corp_info
		WHERE sys_type = #{sysType} AND orgn_num = #{orgnNum}
		AND core_corp_id = (SELECT corp_id FROM corp_info WHERE orgn_num =
		#{requestOrgnNum})
		<if test="appNum!=null and sysType!='' ">
			and app_num = #{appNum}
		</if>
	</select>
	
	<select id="getDeptInfoByCorp" resultType="hashmap"
		parameterType="hashmap">
	select  DEPT_ID, DEPT_NAME, CORP_ID, 
      PARENT_ID, DEPT_TYPE, STAFF_NUM, 
      FUNCTIONS, ORG_STRUCTURE_PATH, CONTACT_PERSON, 
      CONTACT_PHONE, NOTE, CREATE_TIME, 
      STATUS from CORP_DEPT
	</select>
</mapper>