<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ut.scf.dao.sys.ISysTempResourcePoolDao" >

  <select id="sumSharingValuesBy" parameterType="string" resultType="java.math.BigDecimal">
	SELECT sum(SHAREVAL) FROM SYS_TEMP_RESOURCE_POOL where DEFINITION=#{def} and KEY=#{key} and VALUE=#{val}
  </select>   
</mapper>