<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ut.scf.dao.factor.ICustAcDao" >
  <select id="getPayList" parameterType="HashMap" resultType="HashMap" >
    select 
    P.AC_NO "acId", 
    P.AC_NM "acNm", 
    P.AC_BK_NM "acBkNm"
    from CUST_AC P
    where P.STATUS = 1 and P.AC_TP = '0'
    <if test="custId != null">
      and P.CUST_ID = #{custId}
    </if>
  </select>
  <select id="getReceList" parameterType="HashMap" resultType="HashMap" >
    select 
    P.AC_NO "receAcId", 
    P.AC_NM "receAcNm", 
    P.AC_BK_NM "receAcBkNm"
    from CUST_AC P
    where P.STATUS = 1 and P.AC_TP = '2'
    <if test="custId != null">
      and P.CUST_ID = #{custId}
    </if>
  </select>
  <select id="getIouList" parameterType="HashMap" resultType="HashMap" >
    select 
    P.AC_NO "iouAcId", 
    P.AC_NM "iouAcNm", 
    P.AC_BK_NM "iouAcBkNm"
    from CUST_AC P
    where P.STATUS = 1 and P.AC_TP = '1'
    <if test="custId != null">
      and P.CUST_ID = #{custId}
    </if>
  </select>
  <select id="getIntDeductList" parameterType="HashMap" resultType="HashMap" >
    select 
    P.AC_NO "intDeductAcId", 
    P.AC_NM "intDeductAcNm", 
    P.AC_BK_NM "intDeductAcBkNm"
    from CUST_AC P
    where P.STATUS = 1 and P.AC_TP = '3'
    <if test="custId != null">
      and P.CUST_ID = #{custId}
    </if>
  </select>
  <select id="getFeeDeductList" parameterType="HashMap" resultType="HashMap" >
    select 
    P.AC_NO "feeDeductAcId", 
    P.AC_NM "feeDeductAcNm", 
    P.AC_BK_NM "feeDeductAcBkNm"
    from CUST_AC P
    where P.STATUS = 1 and P.AC_TP = '4'
    <if test="custId != null">
      and P.CUST_ID = #{custId}
    </if>
  </select>
  
</mapper>