<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ut.scf.dao.factor.IProductDisDao" >
  <select id="getProdustDisList" parameterType="hashmap" resultType="hashmap" >
    select 
    P.PRODUCT_ID "productId", 
    P.CUST_ID "custId", 
    P.RELE_LMT_AMT "releLmtAmt", 
    P.PRODUCT_LMT "productLmt", 
    P.LMT_MOL "lmtMol", 
    P.STATUS "status", 
    P.BUSI_DT "busiDt", 
    P.REC_UID "recUid", 
    M.PRODUCT_NM "productNm" 
    from PRODUCT_DISTRIBUTION P left join PRODUCT M on P.PRODUCT_ID=M.REC_UID
    where 1=1
    <if test="custId != null">
      and  P.CUST_ID = #{custId}
    </if>
  </select>
  
</mapper>