@charset "UTF-8";
/*
$menu-item-height: ;
$menu-item-width: ;*/
/*
$menu-item-height: ;
$menu-item-width: ;*/
/*@-ms-viewport {
  width:device-width;
}
@-o-viewport {
  width:device-width;
}
@viewport {
  width:device-width;
}
@-ms-viewport {
  width:auto !important;
}*/
body {
  color: #333;
  direction: ltr;
  font-family: "\5FAE\8F6F\96C5\9ED1", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px; }

a:focus, button:focus {
  outline: none; }

.screen-cover {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .screen-cover.rebeccapurple {
    background-color: rebeccapurple; }
  .screen-cover.black {
    background-color: black; }

#cover-app-loading {
  opacity: 1;
  z-index: 9999; }

#cover-request-loading {
  opacity: .8;
  display: none;
  z-index: 9000; }
  #cover-request-loading > .info {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center; }
    #cover-request-loading > .info > .animation {
      display: inline-block;
      width: 16px;
      height: 11px; }
    #cover-request-loading > .info > .text {
      color: white;
      font-size: 14px;
      margin-left: 10px; }

#nprogress {
  position: fixed;
  top: 0px;
  z-index: 1100; }
  #nprogress .bar {
    height: 3px;
    background-color: #cc181e; }
    #nprogress .bar .peg {
      box-shadow: none; }
  #nprogress .spinner {
    display: none; }

.header {
  z-index: 1050; }
  .header .navbar-inner {
    height: 50px;
    background-color: #2b3643;
    background-image: none;
    border: none; }
    .header .navbar-inner .brand {
      display: block;
      float: left;
      padding: 0;
      margin-left: 5px;
      height: 50px;
      width: 100px;
      background-repeat: no-repeat !important;
      background-position-y: 50% !important; }

.page-container {
  margin-top: 50px;
  background-color: #364150; }
  .page-container .page-content {
    background-color: #fff; }

.page-sidebar {
  z-index: 1040;
  background-color: #364150; }
  .page-sidebar ul, .page-sidebar li {
    margin: 0;
    padding: 0; }

@media (max-width: 979px) {
  .btn-navbar.pc {
    display: none; } }

@media (min-width: 980px) {
  .btn-navbar.pc {
    display: block;
    float: left;
    cursor: pointer; }
  .page-content {
    background-color: #fff;
    margin-left: 225px;
    margin-top: 0;
    min-height: 600px;
    padding: 20px; }
    .page-content #page-content-area {
      padding: 0; }
  .page-sidebar {
    position: absolute;
    width: 225px; }
  .page-sidebar-closed .page-sidebar {
    width: 45px; }
  .page-sidebar-closed .page-content {
    margin-left: 45px; }
  .breadcrumb {
    margin-bottom: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
  .eb-richform .span12, .eb-richform .span6 {
    margin-left: 0; }
  .btn-group {
    width: 100%; }
  #window-modal-lookup, #window-modal {
    width: 1000px;
    margin-left: -500px; }
    #window-modal-lookup .eb-panel-title, #window-modal .eb-panel-title {
      display: none; } }

/*
$menu-item-height: ;
$menu-item-width: ;*/
@media (min-width: 980px) {
  .page-sidebar .sub-menu {
    display: none;
    overflow: hidden; }
  .page-sidebar .arrow {
    float: right;
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .page-sidebar .arrow:before {
      content: "\F104"; }
  .page-sidebar .open > a > .arrow {
    margin-right: 3px; }
    .page-sidebar .open > a > .arrow:before {
      content: "\F107"; }
  .page-sidebar .page-sidebar-menu a {
    display: block;
    position: relative;
    margin: 0;
    padding: 10px 15px;
    border: 0;
    font-size: 14px;
    color: #8794A7;
    text-decoration: none; }
  .page-sidebar .page-sidebar-menu i {
    color: #8794A7;
    font-size: 16px;
    margin-right: 5px;
    text-shadow: none; }
  .page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid #3d4957; }
  .page-sidebar .page-sidebar-menu > li:hover > a {
    background-color: #2C3542; }
  .page-sidebar .page-sidebar-menu > li.open > a {
    background-color: #2C3542; }
  .page-sidebar .page-sidebar-menu > li > ul.sub-menu {
    margin: 8px 0; }
    .page-sidebar .page-sidebar-menu > li > ul.sub-menu > li {
      margin-top: 1px !important; }
      .page-sidebar .page-sidebar-menu > li > ul.sub-menu > li > a {
        padding: 6px 15px 6px 44px; }
      .page-sidebar .page-sidebar-menu > li > ul.sub-menu > li:hover > a {
        background-color: #3e4b5c; }
      .page-sidebar .page-sidebar-menu > li > ul.sub-menu > li.open > a {
        background-color: #3e4b5c; }
      .page-sidebar .page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
        padding: 6px 15px 6px 60px; }
      .page-sidebar .page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > a {
        background-color: #3e4b5c; }
      .page-sidebar .page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li.open > a {
        background-color: #3e4b5c; }
  .page-sidebar-closed .page-sidebar-menu > li {
    height: 40px; }
    .page-sidebar-closed .page-sidebar-menu > li > a {
      padding-left: 12px; }
      .page-sidebar-closed .page-sidebar-menu > li > a > .fa {
        display: inline; }
      .page-sidebar-closed .page-sidebar-menu > li > a > .title, .page-sidebar-closed .page-sidebar-menu > li > a > .arrow {
        display: none !important; }
    .page-sidebar-closed .page-sidebar-menu > li.open > a {
      background-color: #364150; }
    .page-sidebar-closed .page-sidebar-menu > li:hover {
      width: 270px !important;
      position: relative !important;
      display: block !important;
      background-color: #364150; }
      .page-sidebar-closed .page-sidebar-menu > li:hover > a {
        background-color: #2C3542; }
        .page-sidebar-closed .page-sidebar-menu > li:hover > a > .title {
          display: inline !important; }
      .page-sidebar-closed .page-sidebar-menu > li:hover > ul.sub-menu {
        display: block !important;
        margin-left: 46px;
        background-color: #364150; }
        .page-sidebar-closed .page-sidebar-menu > li:hover > ul.sub-menu > li {
          display: block !important; }
    .page-sidebar-closed .page-sidebar-menu > li > ul.sub-menu {
      margin-top: 0px;
      margin-left: 36px;
      background-color: #364150; }
      .page-sidebar-closed .page-sidebar-menu > li > ul.sub-menu > li {
        display: none !important; } }

/*
$menu-item-height: ;
$menu-item-width: ;*/
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

.form-control {
  outline: 0 !important; }

.btn, .form-control, input, textarea {
  box-shadow: none !important; }

.datetimepicker {
  font-size: 12px; }

.eb-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e7ecf1 !important; }
  .eb-panel > .eb-panel-title {
    min-height: 41px;
    background-color: #e7ecf1; }
    .eb-panel > .eb-panel-title > .caption {
      display: inline-block;
      font-size: 16px;
      line-height: 18px;
      padding: 11px 0 9px 10px; }
      .eb-panel > .eb-panel-title > .caption > i {
        font-size: 18px;
        margin-right: 5px; }
    .eb-panel > .eb-panel-title > .addons {
      float: right; }
  .eb-panel > .eb-panel-body {
    padding: 15px; }
  .eb-panel.blue {
    border-color: #3598DC; }
    .eb-panel.blue > .eb-panel-title {
      color: #fff;
      background-color: #3598DC; }
  .eb-panel.purple {
    border-color: #a563c1; }
    .eb-panel.purple > .eb-panel-title {
      color: #fff;
      background-color: #a563c1; }
  .eb-panel.light {
    border: 1px solid #e7ecf1 !important;
    padding: 12px 20px 15px;
    background-color: #fff; }
    .eb-panel.light > .eb-panel-title {
      background-color: transparent !important;
      border-bottom: 1px solid #eef1f5; }
      .eb-panel.light > .eb-panel-title > .caption {
        font-weight: 600;
        color: #3598DC !important; }
    .eb-panel.light > .eb-panel-body {
      padding: 8px 0 0; }

.eb-richipt input {
  padding: 6px 12px; }
  .eb-richipt input:focus {
    border-color: #93a1bb; }

.eb-richipt .controls > .fa {
  margin-left: -26px;
  font-size: 14px;
  color: #cccccc; }
  .eb-richipt .controls > .fa:hover {
    color: #93a1bb;
    cursor: pointer; }

.eb-richipt.eb-richipt-select .btn-group .multiselect, .eb-richipt.eb-richipt-multiselect .btn-group .multiselect {
  background: white none;
  height: 34px;
  width: 232px;
  box-shadow: none !important;
  text-align: left;
  border-color: #ccc; }
  .eb-richipt.eb-richipt-select .btn-group .multiselect > .caret, .eb-richipt.eb-richipt-multiselect .btn-group .multiselect > .caret {
    position: absolute;
    right: 10px; }

.eb-richipt.eb-richipt-select .btn-group.open .multiselect, .eb-richipt.eb-richipt-multiselect .btn-group.open .multiselect {
  background-color: white;
  border-color: #93a1bb; }

.eb-richipt.eb-richipt-textarea textarea {
  width: 80%;
  min-height: 120px; }

.eb-richbtn {
  text-shadow: none;
  background-image: none;
  /*&.green {
    color: $white;
    background-color: $green;
    border-color: $green;

    &:hover {
      background-color: mix($green, #999999);
      border-color: mix($green, #999999);
    }

    &:focus {
      border-color: $dark;
    }
  }*/ }
  .eb-richbtn:hover {
    transition: all .3s; }
  .eb-richbtn:focus {
    outline: none; }
  .eb-richbtn.green {
    color: #FFFFFF;
    background-color: #32c5d2;
    border-color: #32c5d2; }
    .eb-richbtn.green:hover {
      background-color: #66afb6;
      border-color: #66afb6; }
    .eb-richbtn.green:focus {
      border-color: #2F353B; }
  .eb-richbtn.blue {
    color: #FFFFFF;
    background-color: #3598DC;
    border-color: #3598DC; }
    .eb-richbtn.blue:hover {
      background-color: #6799bb;
      border-color: #6799bb; }
    .eb-richbtn.blue:focus {
      border-color: #2F353B; }
  .eb-richbtn.red {
    color: #FFFFFF;
    background-color: #E7505A;
    border-color: #E7505A; }
    .eb-richbtn.red:hover {
      background-color: #c0757a;
      border-color: #c0757a; }
    .eb-richbtn.red:focus {
      border-color: #2F353B; }
  .eb-richbtn.purple {
    color: #FFFFFF;
    background-color: #a563c1;
    border-color: #a563c1; }
    .eb-richbtn.purple:hover {
      background-color: #9f7ead;
      border-color: #9f7ead; }
    .eb-richbtn.purple:focus {
      border-color: #2F353B; }

.eb-button-group {
  width: 100%; }
  .eb-button-group.left {
    text-align: left; }
  .eb-button-group.right {
    text-align: right; }

.fixed-table-loading {
  z-index: 0; }

.eb-datagrid .action-link {
  margin-right: 5px; }

.modal-backdrop {
  z-index: 1490 !important; }

#window-modal {
  z-index: 1500; }

#window-modal-lookup {
  z-index: 1610; }

#window-modal-alert {
  z-index: 1620; }

#window-modal-confirm {
  z-index: 1630; }

/*
$menu-item-height: ;
$menu-item-width: ;*/
/*
$menu-item-height: ;
$menu-item-width: ;*/
#homepage-control-panel-toggler, #homepage-control-panel {
  position: absolute;
  top: 70px;
  right: 20px; }

#homepage-control-panel-toggler {
  width: 35px;
  height: 35px;
  font-size: 24px;
  background-color: #3f4f62 !important;
  color: #c6cfda;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  opacity: 0.6; }
  #homepage-control-panel-toggler:hover {
    cursor: pointer;
    background-color: #b3b3b3; }

#homepage-control-panel {
  display: none;
  padding: 30px 10px 10px 20px;
  width: 220px;
  color: #c6cfda;
  background-color: #2b3643;
  opacity: 0.9;
  /*div {
    position: relative;
  }*/
  /*.option-block {

    .text-block {
      width: 120px;
    }

    .image-block {
      width: $homepage-control-panel-image-width;
      height: $homepage-control-panel-image-height;
    }

    .arrow-block {
      float: right !important;
    }

    .bootstrap-switch-wrapper {
      float: right !important;
    }

  }*/ }
  #homepage-control-panel #homepage-control-panel-closer {
    position: absolute;
    top: 10px;
    right: 10px; }
    #homepage-control-panel #homepage-control-panel-closer:hover {
      cursor: pointer;
      font-weight: 500; }
  #homepage-control-panel .options.fixed .option {
    height: 30px; }
    #homepage-control-panel .options.fixed .option .info {
      line-height: 30px; }
  #homepage-control-panel .options.custom .option {
    height: 76px; }
    #homepage-control-panel .options.custom .option .info {
      width: 120px;
      height: 76px;
      background-color: white;
      color: #222;
      border: 1px dotted white; }
      #homepage-control-panel .options.custom .option .info .text {
        display: inline-block;
        width: 100%;
        border-bottom: 1px dotted white;
        text-indent: 10px; }
      #homepage-control-panel .options.custom .option .info .icon {
        text-align: center;
        vertical-align: center;
        width: 100%;
        display: inline-block;
        font-size: 50px;
        line-height: 52px;
        background-color: #eee; }
    #homepage-control-panel .options.custom .option .controls {
      margin-top: 13px;
      text-align: center; }
      #homepage-control-panel .options.custom .option .controls .arrow-block {
        line-height: 20px; }
        #homepage-control-panel .options.custom .option .controls .arrow-block .btn-up, #homepage-control-panel .options.custom .option .controls .arrow-block .btn-down {
          display: inline-block;
          cursor: pointer;
          width: 20px;
          height: 20px;
          line-height: 20px;
          border: 1px solid;
          margin: 6px 0px;
          vertical-align: middle; }
        #homepage-control-panel .options.custom .option .controls .arrow-block .btn-down {
          border-left: 0; }
        #homepage-control-panel .options.custom .option .controls .arrow-block .disabled i {
          display: none; }
  #homepage-control-panel .options .option {
    width: 100%;
    clear: both;
    margin: 10px 0px; }
    #homepage-control-panel .options .option .info {
      width: 132px;
      float: left; }
    #homepage-control-panel .options .option .controls {
      width: 88px;
      float: right; }

#homepage {
  width: 100%; }
  #homepage > .row {
    margin-left: 0 !important; }
  #homepage .widget .eb-panel {
    margin: 0; }

#INFO_BANNER {
  background-color: #3598DC;
  color: #fff; }
  #INFO_BANNER .userinfo {
    padding: 20px 10px; }
    #INFO_BANNER .userinfo .portrait {
      font-size: 90px; }
  #INFO_BANNER .logininfo {
    padding: 20px 10px; }
  #INFO_BANNER .msglinks {
    padding: 40px 10px; }
    #INFO_BANNER .msglinks i {
      font-size: 24px;
      margin-right: 10px; }

#STATISTIC_BOARD .span3 {
  margin: 0 !important;
  width: 25%;
  padding-left: 20px; }
  #STATISTIC_BOARD .span3.first {
    padding-left: 0; }

#STATISTIC_BOARD .card {
  height: 120px;
  overflow: hidden; }
  #STATISTIC_BOARD .card.blue {
    background-color: #3598DC; }
  #STATISTIC_BOARD .card.red {
    background-color: #E7505A; }
  #STATISTIC_BOARD .card.green {
    background-color: #32c5d2; }
  #STATISTIC_BOARD .card.purple {
    background-color: #a563c1; }
  #STATISTIC_BOARD .card .icon {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-left: 15px;
    font-size: 35px;
    line-height: 35px;
    padding-top: 35px;
    margin-bottom: 40px; }
    #STATISTIC_BOARD .card .icon i {
      color: #FFF;
      opacity: .1;
      filter: alpha(opacity=10);
      margin-left: -35px;
      font-size: 110px;
      line-height: 110px; }
  #STATISTIC_BOARD .card .detail {
    right: 15px;
    padding-right: 15px;
    text-align: right; }
    #STATISTIC_BOARD .card .detail .number {
      color: #FFF;
      padding-top: 25px;
      text-align: right;
      font-size: 34px;
      line-height: 36px;
      letter-spacing: -1px;
      margin-bottom: 0;
      font-weight: 300; }
    #STATISTIC_BOARD .card .detail .desc {
      color: #FFF;
      opacity: 1;
      filter: alpha(opacity=100);
      text-align: right;
      font-size: 16px;
      letter-spacing: 0;
      font-weight: 300; }

#SHORT_CUTS .short-cut-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #3598DC;
  border-radius: 40px !important;
  border: 1px solid #3598DC;
  color: white;
  line-height: 80px;
  text-align: center;
  margin: 100px 5px; }
  #SHORT_CUTS .short-cut-btn.add-btn {
    color: #3598DC;
    background-color: transparent;
    border: 1px dashed #3598DC; }

@media (min-width: 980px) {
  .widget {
    margin: 10px 0; }
  .fixed-widget {
    min-height: 130px; }
  .custom-widget {
    margin-left: 0;
    overflow: visible; }
    .custom-widget:nth-child(even) {
      margin-left: 20px; } }

.homepage-chart {
  height: 265px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  cursor: default; }

.custom-widget .eb-panel-body {
  height: 273px !important;
  overflow: hidden; }

.custom-widget .fixed-table-pagination {
  display: none !important; }
